.container {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 0 20px;
    max-width: 1400px;
    margin-bottom: 50px;
    margin-top: 100px;
}

.dispositivos {
    display: flex;
    justify-content: center; /* Horizontally center the child elements */
    align-items: center; /* Vertically center the child elements */
}

.tittle {
    margin: 10px;
    margin-bottom: 25px;
}

.formulario {
    margin: 10px;
}

/* TODO: Add queries for  */
@media (max-width: 1466px) {
    .container {
        max-width: 741px;
        padding: 0 10px;
    }

    .dispositivos {
        flex-direction: column;
    }

    .tittle, .formulario {
        margin: 10px;
    }
}

/* TODO: Add queries for  */
@media (max-width: 741px) {
    .container {
        max-width: 372px;
        padding: 0 10px;
    }

    .dispositivos {
        flex-direction: column;
    }

    .tittle, .formulario {
        margin: 10px;
    }
}